.Proyects{
    height: 100vh;
    padding: 0 5%;
    display: flex;
    color: black;
    flex-flow: column;
}

.Proyects h3{
    margin: 5% 0 0;
    font-size: 24px;
}


.TitleBorder{
    height: 10px;
    width: 100px;
    background-color: #42B56C;
}

.ProyectsList{
    margin-top: 40px;
    padding: 0;
    align-items: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/* .ProyectsList::after {
    content: '';
    flex: auto;
    } */

@media (max-width: 1200px){
    .ProyectsList{
        flex-wrap: wrap;
    }
    .Proyects{
        height: auto ;
        padding-bottom: 180px;
    }
}