.About{
    height: 100vh;
    padding: 0 5%;
    display: flex;
    flex-flow: row;
}

.AboutContainer{
    display: flex;
    flex-flow: column;
    padding: 5% 5% 0 0;
    width: 50vw;
}

.AboutContainer h3{
    margin: 0;
    font-size: 24px;
}

.AboutContainer h5{
    font-size: 20px;
}

.AboutContainer p{
    margin: 100px 0;
    font-size: 18px;
}

.TitleBorder{
    height: 10px;
    width: 100px;
    background-color: #42B56C;
}

.PictureContainer{
    padding: 10% 0;
    width: 50vw;
    text-align: center;
}

.Circle{
    position: relative;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(#9CF54F, #42B56C);
    border-radius: 50%;
    display: inline-block;
}

.SkillIcons{
    display: flex;
    
    justify-content: space-between;
}

.Icon{
    font-size: 60px;
}

@media (max-width: 880px){
    .Circle{
        width: 300px;
        height: 300px;
    }
    .AboutContainer{
        padding: 5% 20% 0 0;
        width: 40vw;
    }
}

@media (max-width: 780px){

    .About{
        flex-flow: column;
        height: auto;
    }
    
    .AboutContainer{
        width: 100%;
        padding: 5% 0;
    }

    .PictureContainer{
        width: 100%;
        padding: 10% 0;
    }

    .Icon{
        font-size: 40px;
    }
    
}