.About{
    background-color: #C1C1C1;
    height: 100vh;
    padding: 0 5%;
    display: flex;
    flex-flow: row;
}

.AboutContainer{
    display: flex;
    flex-flow: column;
    padding: 5% 0;
    width: 50%;
}

.AboutContainer h3{
    margin: 0;
    font-size: 24px;
}

.AboutContainer h5{
    font-size: 20px;
}

.AboutContainer p{
    margin: 100px 0;
    font-size: 18px;
}

.TitleBorder{
    height: 10px;
    width: 100px;
    background-color: #42B56C;
}

.PictureContainer{
    width: 50%;
    padding: 10%;
}

.Circle{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background-image: linear-gradient(#9CF54F, #42B56C);
    border-radius: 50%;
    display: inline-block;
}