.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    background: linear-gradient(90deg, #F7F2F2 50%, #E6E2E2 50%);
    padding: 15px 5%;
}

a{
    text-decoration: none;
    margin: 20px;
}

a:visited { text-decoration: none; color:#4D4C4C; }
a:hover { text-decoration: none; color:#4D4C4C; }
a:focus { text-decoration: none; color:#4D4C4C; }
a:hover, a:active { text-decoration: none; color:#4D4C4C }