.Proyect{
    width: 300px;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    color: #333;
    margin: 5%;
}

.Proyect .Card{
    position: relative;
    width: 100%;
}

.Proyect .Card .Face{
    width: 300px;
    height: 250px;
    transition: 0.5s;
}

.Face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(150px);
}

.Face1 .Content{
    opacity: 0.7;
    transition: 0.5s;
    position: relative;
    padding: 20px;
}

.Card:hover .Face1{
    background: #42B56C;
    transform: translateY(0);
}

.Card:hover .Face1 .Content{
    opacity: 1;
     
}

.Card .Face1 .Content img{
    width: 100%;
}

.Card .Face1 .Content h3{
    margin: 0;
    /* padding: 10px; */
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

.Card .Face1 .Content img{
    background: (ellipse at center, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 51%, rgba(241,111,92,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
}

.Face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    transform: translateY(-100px);
    overflow: hidden;
}

.Card:hover .Face2{
    transform: translateY(0);
}

.Face2 p{
    margin: 0;
    padding: 0 40px;
    font-size: 1rem;
}

.Face2 a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    padding: 5px;
}

.Face2 .Icon{
    cursor: pointer;
    margin: 0 20px;
    filter:drop-shadow(3px 6px 6px rgb(192, 192, 192));
}

.Face2 .Icon:hover {  
    color: rgb(146, 140, 140);
}

.Icons{
    text-align: center;
    font-size: 35px;
}

a:visited { text-decoration: none;  }
a:hover { text-decoration: none;  }
a:focus { text-decoration: none;  }
a:hover, a:active { text-decoration: none; }

@media (max-width:680px){
    .Proyect{
        margin: 12%;
    }
}

@media (max-width:1200px){
    .Proyect{
        margin: 20% 5%;
    }
}