.Proyect{
    width: 300px;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    color: #333;
    margin: 2% 5%;
}

.Proyect .Card{
    position: relative;
}

.Proyect .Card .Face{
    width: 250px;
    height: 200px;
    transition: 0.5s;
}

.Face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(150px);
}

.Face1 .Content{
    opacity: 0.5;
    transition: 0.5s;
}

.Card:hover .Face1{
    background: #42B56C;
    transform: translateY(0);
}

.Card:hover .Face1 .Content{
    opacity: 1;
     
}

.Card .Face1 .Content img{
    width: 100%;
}

.Card .Face1 .Content h3{
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.Face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    transform: translateY(-50px);
    overflow: hidden;
}

.Card:hover .Face2{
    transform: translateY(0);
}

.Face2 p{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.Face2 a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    padding: 5px;
}

.Face2 .Icon{
    cursor: pointer;
    margin: 0 20px;
    filter:drop-shadow(3px 6px 6px rgb(192, 192, 192));
} 

.Face2 .Icon:hover {  
    color: rgb(146, 140, 140);
}

.Icons{
    text-align: center;
    font-size: 35px;
}

@media (max-width:680px){
    .Proyect{
        margin: 10%;
    }
}