.Intro{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height:90vh;
    padding: 0 5%;
}

.ImageContainer{
    position: relative;
    height: auto;
    align-items: flex-end;
    display: flex;
}

.InfoContainer{
    padding: 10% 0;
    width: 50%;
}

.InfoContainer p{
    padding-right: 30px;
    font-size: 20px;
}

.InfoContainer h1{
    font-size: 70px;
}

.InfoContainer button{
    font-size: 20px;
    margin-top: 40px;
    width: 200px;
    background-color: #42B56C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.InfoContainer button:hover {  
    background-color: #338272;
}

.Image{
    width: 100%;
    height: 50%;
}

.SkillIcons{
    margin-top: 150px;
    display: flex;
    width: 200px;
    justify-content: space-between;
    
}

.Icon{
    color: #42B56C;
    cursor: pointer;
} 

.Icon:hover {  
    color: #338272;
}

.SkillIcons a{
    margin: 0;
}

.DownArrow{
    cursor: pointer;
    position: absolute;
    left: calc(50% - 21px);
    bottom: 10px;  
    filter: drop-shadow(3px 6px 6px #454545);
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@media (max-width: 680px){
    .Intro{
        padding:0 40px;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .InfoContainer{
        padding: 0;
        width: 100%;
    }
    .ImageContainer{
        position: relative;
        height: auto;
        align-items: flex-end;
        text-align: center;
        display: flex;
    }
    .Image{
        height: 100%;
    }
    .SkillIcons{
        justify-content: space-evenly;
        width: 100%;
        margin-top: 100px;
    }
}