.Logo{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.Logo img{
    margin-right: 10px;
    width:  28px;
    height: 36px;
}
.Logo h3{
    font-size: 18px;
    font-weight: normal;
}


@media (max-width: 680px){
    .Logo h3{
        font-size: 16px;
    }
    .Logo img{
        margin-right: 6px;
        width:24px;
        height: 32px;
    }
}